body {
	color: white;
	text-align: center;
	background-image: url("sky.png");
	background-color: #000066 
}
a:link { 
	color: red;
	font-weight: bold
}

a:visited {
	color:white;
	font-weight: bold
}

h2{
	color: red
}
ul{
	text-align:center;
	list-style-position: inside
}
ul:li{
	text-align: center;
 list-style-position: inside}

ol{
	text-align: center;
	 list-style-position: inside
}

ol:li{
	text-align: center;
 list-style-position: inside}

.masthead__menu-list  {
  list-style-type: none;
	position: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000066 ;
}

.masthead__menu-list li {
   float: left;
}

.masthead__menu-list li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.masthead__menu-list li a:hover:not(.active) {
  background-color: #111;
}

.masthead__menu-list li a.active {
  float: center;
}

.active {
  background-color: #4CAF50;
}
 h1 {text-align: center;}

.fixed-image{
position: fixed;
	left: 10px;
	bottom: 30px
}

.absolute-image{
position: absolute;
	right: 10px;
	top: 40px
}


















